body {
  margin: 0;
  color: #fff;
  font-family: "Montserrat";
}
h1 {
  font-family: "Montserrat";
  /* grid-row-start: 5;
  grid-row-end: 7;
  grid-column-start: 1;
  grid-column-end: 3;
  font-size: 11vw; */
  margin: 0;
  line-height: 1.1;
  padding: 0;
  font-weight: 700;
  font-size: 40px;
}
h2 {
  grid-row-start: 7;
  grid-row-end: 8;
  grid-column-start: 1;
  grid-column-end: 5;
  margin: 0;
  font-size: 24px;
}
h3 {
  background-color: #07255c;
  font-weight: bold;
  width: fit-content;
  margin: auto;
  padding: 2px 6px;
  text-align: center;
}

.inverted-header {
  background: #f4f4f4;
  color: #07255c;
  font-weight: 700;
  width: fit-content;
  margin: auto;
  padding-bottom: 36px;
}

h4 {
  font-family: "Roboto";
  color: #fff;
  background: #9e9e9e;
  margin: 0;
  white-space: nowrap;
  font-weight: normal;
  padding: 4px;
  margin: 5px 5px 5px 0;
  width: fit-content;
}

h5 {
  font-weight: bold;
  font-size: 18px;
  margin: 0;
  padding-bottom: 12px;
}

h6 {
  font-family: "Roboto";
  color: #fff;
  font-weight: normal;
  display: inline;
  margin-right: 10px;
  font-size: 13px;
}

.bold {
  font-weight: bold;
}

p {
  text-align: left;
  font-family: "Montserrat";
  font-size: 17px;
  letter-spacing: 0;
  color: #000000;
  letter-spacing: 2px;
  max-width: 610px;
  margin: auto;
}

a {
  text-decoration: none;
  color: white;
}

span {
  font-family: "Roboto";
  font-weight: bold;
  color: #07255c;
}

.header {
  background-image: url(images/header-mobile.jpeg);
  height: 130vw;
  background-size: cover;
  position: relative;
  z-index: 1;
}

.layer-header {
  position: absolute;
  z-index: 2;
  background: black;
  height: 100%;
  width: 100%;
  opacity: 0.4;
  margin: auto;
}

.header-content {
  display: flex;
  flex-direction: column;
  height: 100%;
  align-items: flex-end;
  max-width: 610px;
  justify-content: space-between;
  margin: auto;
  z-index: 10;
  padding: 0 36px;
  position: relative;
}

.header-text {
  align-self: flex-start;
}

.social-media {
  display: flex;
  flex-direction: row;
  width: fit-content;
  height: fit-content;
  justify-self: end;
  margin-top: 36px;
}

.icon-container {
  height: 12vw;
  width: 12vw;
  border: 3px solid #ffffff;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-left: 5px;
}

.social-media img {
  width: 6vw;
  height: 6vw;
}

.profile-image {
  width: 39vw;
  height: 39vw;
  max-width: 220px;
  max-height: 220px;
  border-radius: 50%;
  border: 4px white solid;
  margin-bottom: -15px;
}
.introduction-container {
  max-width: 610px;
  margin: auto;
}
.introduction {
  background: #f4f4f4;
  color: black;
  margin: 10px 0 0 0;
  padding: 58px 36px;
  letter-spacing: 2px;
}

.decoration {
  display: flex;
  align-items: center;
  float: left;
  height: 18px;
  margin-right: 10px;
}

.line {
  width: 40px;
  height: 3px;
  background: #07255c;
}

.circle {
  width: 10px;
  height: 10px;
  border-radius: 50%;
  background: #07255c;
  margin-left: -5px;
}

.tech {
  margin: 36px 0;
}

.tech h3 {
  margin-bottom: 36px;
}
.tech p {
  text-align: center;
  padding: 0 36px;
}

.projects {
  background: #f4f4f4;
  padding: 46px 36px;
}
.card-grid {
  display: grid;
  justify-content: center;
  grid-gap: 20px 50px;
  margin: auto;
  justify-self: center;
  grid-template-columns: repeat(auto-fit, minmax(150px, 480px));
}

.project-view {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(4, 1fr);
  justify-self: center;
  margin: 36px auto 0;
  text-align: center;
}

.project-view img {
  grid-column-start: 1;
  grid-column-end: 5;
  grid-row-start: 1;
  grid-row-end: 5;
  width: 100%;
}

.layer {
  background: #000;
  opacity: 0.4;
  grid-column-start: 1;
  grid-column-end: 5;
  grid-row-start: 1;
  grid-row-end: 5;
  width: 100%;
  z-index: 3;
  visibility: visible;
}

.project-view h2 {
  grid-row-start: 1;
  z-index: 5;
  align-self: center;
  justify-self: center;
  font-size: 20px;
}

.project-card {
  margin: auto;
}

.project-card p {
  grid-column-end: 5;
  margin: 0;
  grid-column-start: 1;
  margin-top: 15px;
}

.tag-container {
  display: flex;
}

.other-projects {
  background: #f4f4f4;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 26px 36px;
}

.other-projects div {
  width: fit-content;
  margin-bottom: 26px;
}

.thoughts {
  padding: 46px 36px;
  display: flex;
  flex-direction: column;
}
.thoughts-header {
  font-weight: bold;
  margin: 5px 0;
  font-size: 17px;
}

.thoughts-span {
  font-weight: normal;
  align-self: flex-start;
}

.thoughts-container {
  display: flex;
  flex-direction: column;
  margin: auto;
  align-items: center;
  width: 100%;
  max-width: 480px;
}

.thoughts img {
  width: 100%;
  max-width: 480px;
  height: auto;
  margin: 36px 0 10px 0;
  align-self: center;
}
.more-thoughts {
  padding: 0 36px 46px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.more-thoughts h3 {
  background: #fff;
}

.skills {
  background: #f4f4f4;
  padding: 46px 36px 0 36px;
}

.skills p {
  text-align: center;
}

.skill-container {
  display: grid;
  grid-template-columns: 2fr 2fr;
  grid-template-rows: 1fr 1fr;
  grid-gap: 30px 0;
  margin: auto;
  text-align: center;
  margin-top: 36px;
  width: fit-content;
}
code {
  margin: 0 10px;
}

.toolbox {
  margin: 0 10px;
}

.upcoming {
  margin: 0 10px;
}

.more {
  margin: 0 10px;
}

.social-media-orange img {
  width: 6vw;
  height: 6vw;
}

.social-media-orange {
  display: flex;
  flex-direction: row;
  width: fit-content;
  height: fit-content;
  justify-self: center;
}

.for-more {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 46px 36px;
}

.for-more h3 {
  margin-bottom: 36px;
}

.icon-container-orange {
  height: 12vw;
  width: 12vw;
  border: 3px solid #07255c;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-right: 5px;
}
.contact {
  background: #07255c;
  text-align: center;
  padding: 46px 36px;
}

.contact p {
  color: #fff;
  text-align: center;
  font-family: "Roboto";
  padding: 2px 0;
}

.name {
  font-weight: bold;
}

@media (max-width: 270px) {
  .tag-container {
    display: flex;
    flex-direction: column;
  }
}

@media (min-width: 550px) {
  h3 {
    font-size: 36px;
  }

  .inverted-header {
    font-size: 30px;
  }
  .header {
    background-image: url(images/header-tablet.jpeg);
    height: 40vw;
  }

  .social-media img {
    width: 3vw;
    height: 3vw;
    max-width: 30px;
    max-height: 30px;
  }
  .icon-container {
    height: 6vw;
    width: 6vw;
    max-width: 50px;
    max-height: 50px;
    margin-right: 5px;
  }

  .social-media-orange img {
    width: 3vw;
    height: 3vw;
    max-width: 30px;
    max-height: 30px;
  }

  .icon-container-orange {
    height: 6vw;
    width: 6vw;
    max-width: 50px;
    max-height: 50px;
    margin-right: 5px;
  }

  .profile-image {
    width: 18vw;
    height: 18vw;
    max-width: 150px;
    max-height: 150px;
    margin-top: -100px;
  }
  .card-grid {
    grid-template-columns: repeat(2, minmax(150px, 280px));
  }
  .skill-div {
    margin: 0 30px;
  }
}
@media (min-width: 1025px) {
  h1 {
    font-size: 60px;
  }

  h2 {
    font-size: 30px;
  }

  h6 {
    font-size: 24px;
  }
  .header {
    background-image: url(images/header-desktop.jpeg);
  }
}
